{% extends 'base.html.twig' %}
{% block body %}

    <section id="add">
        <a href="{{ path("home") }}">← Retour</a>
        <h1>Ajouter une voiture</h1>
        {{ form_start(form) }}
        <div class="input">
            {{ form_row(form.name) }}
        </div>
        <div class="input">
            {{ form_row(form.description) }}
        </div>
        <div class="flex-input">
            <div class="input">
                {{ form_row(form.monthly_price) }}
            </div>
            <div class="input">
                {{ form_row(form.daily_price) }}
            </div>
        </div>
        <div class="flex-input">
            <div class="input">
                {{ form_row(form.capacity) }}
            </div>

            <div class="input">
                {{ form_row(form.transmission) }}
            </div>
        </div>
        {{ form_end(form) }}
    </section>

{% endblock %}